/*color pallette: Palette UID: 11T0u0kllll8OdUf4hCrBp3AAsM*/
/* 64em is also 1028px when basefront is 16px */
@media only screen and (min-width: 64rem){

nav{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}  
nav button {display: none;} /* Something in here is preventing the hamburger button from working properly. When I block this page it works fine.*/

nav ul.hide{ display: block; }

nav ul {margin-left: 2%;}

nav ul li {
   float: left;
}

nav ul li a {
   border: none;
   border-right: 1px solid rgba(0,0,0,0.3);
   padding: .6rem 1rem;

}
}/*end large*/

