/*Color scheme #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 with white and black.*/
/*tr is row
th is table header(default bold and centered)
td is data/cell
first-child nth:child() psuedo class for styling specific cells
*/
html {

    font-family: 'Ubuntu', sans-serif;
  }
  
  table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 1rem;
      width: 300px;
      background-color: #e7f0ed;
      box-shadow: 10px 10px 20px #628ca6;
  }

  thead td {
    background-color: #7fb9c2;
    font-size: 1rem;
  }
  tbody th {
    background-color: #628ca6;
    color: white;
    font-weight: bold;
}
  td, th {
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
    padding: 5px;
  }
  
  th {
    background-color: #7fb9c2;
  }
  tbody tr:nth-child(6) :nth-child(1) {
    font-style: italic;
}
tbody tr:nth-child(5) :nth-child(3) {
  background:  #628ca6;
  color: white;
  
}

    

  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {

    background-color: #e7ffed;
  }
  
  tr:nth-child(odd) td {
   /* background-color:#e7f0ed;*/
  }
  
  caption {
    padding: 10px;
  }
  tfoot {
    background-color: #7fb9c2;
    font-size: .80rem;  
}