.weathergallery {
    display: grid;
  }
  * {box-sizing: border-box;}
  
  .Weathergallery {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
  }
  
  .Weathergallery > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }
  