@media only screen and (min-width: 1028px){

    nav button {display: none;} 

    nav ul.hide{ display: block; }
    
    nav ul {padding-left: 2%;}
    
    nav ul li {
       float: left;
    }
    nav li{width: auto;} /*lines up to left*/
    nav a {padding: .5rem 1rem;} /*spaces in between nav links*/
    
    main figure {
        width: 48%; /*when added to 2% margin it equals 33% or 1/3 of the page*/
    }
    div.news {
        column-count: 4;
    }
    /*temple page*/
.templegrid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
}
    .gallery_grid {
        display:inline-flex;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto ;
        grid-gap: 20px; 
    }
    }/**end of media query*/