* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/*body rules*/
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

/*header rules here*/
header, .header{
    background-color: #226666;
    padding: 1rem 2%;
   
}
header img .tlogo {
    float:left;
    padding:.8rem;
}
header h1, .header h1 {
    Color:white;
    margin:0;
}
Header h2, .header h2 {
    color: white;
    margin: 0;
}

/*navigation rules here*/
nav { background-color: #151d1d;}
nav ul {margin: 0; padding:0;}
nav li{list-style-type: none;}
nav li.active {background-color: #00c5c5}
nav a {
    display: block;
    padding: .8rem 0; /*44 min height*/
    color: #138a8a;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #00c5c5;}
nav ul.hide {display: none;}

/*main rules */
main {
    padding: 1rem 2%; /*1top bottom 2% on sides*/
    display: inline-block; /*for older browsers*/
    }
main h1 {color: #281d1d;}/*for main h1 color "EVENT"*/

main figure img {width: 100%}/*requires img to be 100 of figure tag which it is inside of*/
main figure {
    width: 100%; /*tells figure how wide to be*/
    margin: 0; /*removes gap between picture and side */
}
    main figcaption { text-align: center; font-size: .8rem;}

    div.news {/*div news class, will make 2 columns and a line in the middle*/
        clear: both;/*keeps news below all floated images aka cows*/
        column-count: 2;
        column-rule: 1px solid #ddd;
        }

        /*contact*/
        main article {
            border: solid 1px #151d1d;
        }
         .town-info {
        border:solid 2px black;
            display: inline-flex;
            flex-direction: row;
            background-color: #00c5c5;
        
        }
        section h4{
            padding: 2rem;

        }
        /*thank you*/
        #contactinfo {
            color: #ddd;
            text-align: center;
            padding: 1em;
            border: 1px solid #151d1d;
            background: 100%;
            background-color: #138a8a;
            
        }
        .main h1, h3 {
            text-align: center;
        }
        /*form*/
        /*-------------Form---------------*/
form fieldset {
    display: block;
    text-align: left;
    margin: 2rem 3%;
    border: 2px solid #151d1d;
    border-radius: 5px;
    padding: .5rem 2%;

}
form legend {
    display: block;
    color:black;
    margin: 0 1rem;
    padding: 0 .5rem;
}
input.tel {
    margin-left: 3.5%;

}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;

}
form label.top input, form label.top select 
{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #151d1d;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: #ddd;
}
form label.sbs {
    display: block;
    padding: .75rem;
    color: #fff0c7;

}
textarea{
    display: block;
    border-radius: .5rem;
    border: 1px solid #00c5c5;
    margin: 1rem;
}

form input.submitBtn {
    border: none;
    background-color: #138a8a;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: #226666 6px;

}
form label.top input:required:valid {
    border-left: #226666 solid 6px;
}

/*services*/
.free {
    border: solid #151d1d 2px;
    padding: 1rem;
    margin:2rem;
    width: 50%;
    display: flex;
    justify-content: left;
}
.special {
    border: solid #151d1d 2px;
    padding: 1rem;
    margin: 2rem;
    width: 40%;
    display: flex;
    justify-content: right;
}
.reception {
    display: flex;
    justify-content: right;
    border: solid #151d1d 2px;
    padding: 1rem;
    margin: 2rem;
    width: 40%;
    
}
.patrons {
    border: solid #151d1d 2px;
    padding: 1rem;
    margin: 2rem;
padding: 1rem;
width: 50%;
position:relative;
}
.queenroom{
    
    float:right;
    width: 500px;
}

/*temple page*/
.templegrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 300px 300px;
    grid-gap: 20px;
}
    .sandiego {
        border: solid #151d1d 2px;
        padding: 5px;
        float: right;
        padding: 2px;
        margin: 3px;
    }

    .sanantonio {
        border: solid #151d1d 2px;
        padding: 5px;
        float: right;
        padding: 2px;
        margin: 3px;
    }
.saltlake {
    border: solid #151d1d 2px;
    padding: 5px;
    float: right;
    padding: 2px;
    margin: 3px;
}
.cedarcity {
    border: solid #151d1d 2px;
    padding: 5px;
    float: right;
    padding: 2px;
    margin: 3px;
}

}
 
    /*home page*/
    .book, .white {
        display: inline;
        border: solid #226666 3px;
        margin:5px;
        padding:2px;
    }
    .kiss{
        border: solid #226666 3px;
        margin: 5px;
        display: flex;
        padding:3px;
    }
   .kiss > p {
       padding: 3px;
       margin: 3px;
   }
    
    .sdtemple {
        border: solid #226666 3px;
        padding: 3px;
        display: inline-flex;
    }
   
/*footer style*/

footer, .footer{
    text-align: center;
    padding: 1rem 2%;/*keeps the footer from sticking to the screen*/
     background-color: #226666; /*to match header*/
}

.clearfix:after{
    content:"";
    display: table;
    clear: both;
}